<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/{{output_dir}}/output.css" rel="stylesheet" />
    {% if title %}
    <title>{{ title }} - Wiki</title>
    {% else %}
    <title>Wiki</title>
    {% endif %}
  </head>

  <body
    class="bg-zinc-900 prose-p:text-white h-dvh overflow-hidden flex flex-nowrap w-dvw"
  >
    <section class="bg-zinc-950 lg:w-72 px-8 pt-8 h-dvh flex flex-col">
      <h2 class="text-lg font-bold border-b border-white mb-4 shrink-0">
        <a
          href="/{{output_dir}}/index.html"
          class="w-full hover:text-sky-200 transition-colors"
          >Home - Wiki</a
        >
      </h2>
      <a
        href="/{{output_dir}}/tags/index.html"
        class="text-sm font-semibold text-zinc-400 hover:text-sky-200 transition-colors mb-4 shrink-0"
        >Tags</a
      >
      <ul class="text-sm overflow-y-auto min-h-0 flex-1 flex flex-col gap-y-1.5 pb-8">
        {% block nav_links %} {% endblock nav_links %}
      </ul>
    </section>
    <main class="flex-1 flex flex-col">
      {% block content %}{% endblock content %}
    </main>
  </body>
</html>
