<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/dist/css/output.css" rel="stylesheet" />
    {% if title %}
    <title>{{ title }} - Wiki</title>
    {% else %}
    <title>Wiki</title>
    {% endif %}
  </head>

  <body class="bg-zinc-800 prose-p:text-white h-dvh flex flex-nowrap w-dvw">
    <section class="bg-zinc-900 lg:w-72">
      {% block nav_links %} {% endblock nav_links %}
    </section>
    <main>{% block content %}{% endblock content %}</main>
  </body>
</html>
