{% extends "base.html" %}
{% block nav_links %}
{% for key, link_list in links %}
{% for link in link_list | sort %}
<li>
  <a href="{{ link | replace(from=" .md", to=".html" ) }}" class="text-white"> {{ link | replace(from=".md", to="") |
    split(pat="/") | last }} </a>
</li>
{%endfor%}
{% endfor %}
{% endblock nav_links %}
{% block content %}
<div class="flex w-full flex-col gap-y-4 p-8 max-h-full overflow-y-auto">
  <h2 class="text-3xl font-bold">Index</h2>
  <ul class="w-full flex flex-col gap-y-4">
    {% for key, link_list in links %}
    <li>
      <h3 class="text-lg font-bold my-1">{{ key }}</h3>
      <ul class="border rounded-md w-full overflow-hidden border-zinc-800">
        {% for link in link_list%}
        <li class="odd:bg-zinc-900 p-1.5">
          <a href="{{ link | replace(from=".md", to=".html" ) }}" class="text-sky-400 text-base hover:text-sky-600 transition-colors w-full"> {{ link | replace(from=".md",
            to="") |
            split(pat="/") | last }} </a>
        </li>
        {% endfor %}
      </ul>

    </li>
    {% endfor %}
  </ul>
</div>
{% endblock content %}