{% extends "base.html" %} {% block content %}
<ul>
  {% for link in links %}
  <li>
    <a href="{{ link | replace(from=".md", to=".html" ) }}" class="text-white"> {{ link | replace(from=".md", to="") |
      split(pat="/") | last }} </a>
  </li>
  {% endfor %}
</ul>
{% endblock content %} {% block nav_links %}
<ul>
  {% for link in links %}
  <li>
    <a href="{{ link | replace(from=".md", to=".html" ) }}" class="text-white"> {{ link | replace(from=".md", to="") |
      split(pat="/") | last }} </a>
  </li>
  {% endfor %}
</ul>
{% endblock nav_links %}