{% extends "base.html" %}
{% block nav_links %}{% endblock nav_links %}
{% block content %}
<div class="flex w-full flex-col gap-y-4 p-8 max-h-full overflow-y-auto">
  <h2 class="text-3xl font-bold">Tags</h2>
  <ul class="border rounded-md w-full overflow-y-auto max-h-[70vh] border-zinc-800">
    {% for tag in tags %}
    <li class="odd:bg-zinc-800 p-1.5">
      <a
        href="/{{ output_dir }}/tags/{{ tag }}.html"
        class="text-sky-400 text-base hover:text-sky-600 transition-colors w-full"
      >
        {{ tag }}
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock content %}
